body{
    font-family: monospace;
    background-image: url(/images/backgtround-gradient.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    padding: 2em;
    border-radius: 10px;
    background-color: rgb(247, 232, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    border: 3px solid #000000;
    box-shadow: 13px 13px 0px -1px #000000;
-webkit-box-shadow: 13px 13px 0px -1px #000000;
-moz-box-shadow: 13px 13px 0px -1px #000000;
margin-bottom:100px;
}

section{
    background: rgb(249,252,193);
background: linear-gradient(90deg, rgba(249,252,193,1) 0%, rgba(250,209,165,1) 49%, rgba(235,166,238,1) 100%);
    text-align: center;
    padding: 1em;

    border: 2px dashed rgb(152, 150, 150);
}

section h2{
    margin-top: 0;
}

#create-contact-btn{
    font-family: monospace;
}
#create-contact-btn:disabled{
    border: #111 2px solid;
    cursor: not-allowed;
    opacity: 0.5;
   
}
#create-contact-btn:disabled:hover{
background-color: #FCCDD9;
box-shadow: 0px 6px 0px #d892bf;
}

table{
    border-spacing: 0;
    min-width: 490px;
    padding: 1em;
    margin-top: 2em;
    background-color: rgb(223, 213, 255);
    height: 300px;
    border: 3px solid #edbcec;
    border-radius: 5px;
}


#img-container{
    width: 15%;
}

#img-container img{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
h1{
    font-size: 3em;
}

section input[type=text]{
    border-radius: 8px;
    padding: 0.5em;
    background-color: #fffdf8;
}


button {
    background-color: #FCCDD9;
	font-family:monospace;
    color: #111;
    font-weight: bolder;
    padding: 1em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0px 6px 0px #d892bf;
}

button:hover {
    background-color: #FCD7D2;
    box-shadow: 0px 6px 0px #EEA094;
}

table input[type=text]{
    font-family: monospace;
    font-weight: bolder;
    border-color: rgb(174, 141, 228);
    border-style: dotted;
    padding: 1em;
    border-radius:8px;
    background-color: #fcf3fb;
}

table input[type=text]:disabled{
    background-color: #fedbf8;
    border-style: solid;
    border-color: rgb(220, 172, 224);
    cursor: not-allowed;
}



table tr{
    font-size: large;
vertical-align: middle;
height:60px;

}

td button{
    margin-left: 10px;
}

td button:disabled{
    border: #111 2px solid;
    cursor: not-allowed;
    opacity: 0.5;
}

td{
    padding: 0.5em;
}


